body{
    background-color:white;
    position: relative;
    left: 28%;
    margin: center;
    text-align: left;
}

.p6_purple{
    font-size: 32px;
    color: purple;
    font-weight: bolder;
    display: block;
}
.p6_yellow{
    color: yellow;
    font-size:32px;
    font-weight: bolder;
}
#footer_nombre{
    font-size: 15px;
    color: brown;
    font-family: Helvetica; 
}
